/*------------------------------------------------- IPOD.JSX -------------------------------------------------*/
.ipod-container {
  width: 100%;
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.ipod {
  width: 520px;
  height: 860px;
  background: linear-gradient(160deg, #f2f1f1 0%, #e2e2e2 40%, #bebebe 100%);
  border-radius: 40px;
  box-shadow:
    /* outer drop shadow */
    0 20px 50px rgba(0, 0, 0, 0.4),
    /* inset top-left highlight (light hits from top) */
    inset 2px 3px 6px #f4f4f4,
    /* inset bottom-right shadow (depth/curvature) */
    inset -2px -3px 8px #9b9b9b,
    /* subtle inner rim all around */
    inset 0 0 20px #9b9b9b;

  margin: 0 auto;
  overflow: hidden;
}

/*------------------------------------------------- SCREEN.JSX -------------------------------------------------*/
.screen {
  width: 85%;
  height: 40%;
  background: #facbe6;
  border: 3px solid #3d3f40;
  color: #000000;
  border-radius: 10px;

  display: block;
  margin: 36px;
}

.screen h3 {
  text-align: left;
  margin: 0;
  padding: 5px;
  background: linear-gradient(to bottom, #f9f9f9 0%, #babec1 80%, #a1a7a7 100%);
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-items li {
    padding: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.active {
    background: linear-gradient(to bottom, #4d9bd7 0%, #2d72bc 100%);
    cursor: pointer;
}

.options {
    max-width: 50%;
    background: #f5f5f5;
    min-height: 100%;
}

.screen.dark {
  background: #c686aa;
}

.screen.dark h3 {
  text-align: left;
  margin: 0;
  padding: 5px;
  background: linear-gradient(to bottom, #babec1 0%, #a1a7a7 80%, #636767 100%);
}

.options.dark {
  background: #696969;
  color: white;
}

/*------------------------------------------------- CLICKWHEEL.JSX -------------------------------------------------*/
button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  padding: 0;
}

.click-wheel {
  width: 322px;
  height: 322px;
  background: #fafcfd;
  border-radius: 50%;
  position: relative;
  box-shadow:  0 0 3px rgba(0, 0, 0, 0.4);
  margin: 70px auto;
}

.menu-button-container {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button {
    width: fit-content;
    height: auto;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.center-button {
  width: 120px;
  height: 120px;
  background: linear-gradient(180deg, #bebebe 0%, #e2e2e2 70%, #f2f1f1 100%);
  border-radius: 50%;
  box-shadow:  0 0 5px #cdcfce;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}