:root {
  --app-theme-color: #f8dce8;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--app-theme-color);
}